body{
    overflow-x: hidden;
}

/* Carousel */

#main .carousel-inner img {
    max-height: 80vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel{
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 2;
  }

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

h2{
    font-size: 100px!important;
    font-family: 'Lobster', cursive;
}

#desc1{
    font-family: 'Overpass', sans-serif;
    font-size: 20px !important;
    margin-bottom: 25px;
}

.btn-discov{
    background-color: rgb(59, 135, 235);
}

.btn.btn-discov{
    background-color: rgb(59, 135, 235);
    color: white;
    font-weight: 500;
    border-radius: 100px;
}

.btn-discov:hover{
    background-color: rgb(54, 112, 189);
    color: white !important;
}

/* phrase */

.quote .container{
    height: 70vh;
}

.quote .phrase {
    height: 100%;
}

.quote{
    height: 100%;
    background: linear-gradient(90deg,#1b1024, #311e42 25%,#304c6d);
    color: rgba(255, 255, 255, 0.664);
    font-family: 'Noto Sans', sans-serif;   
}

#cent{
    height: 100%;
    align-items: center;
    font-size: 23px;
    font-style: italic;
}

/* About */

.about{
    height: 50vh;
    margin-bottom: 5px;
}

.who{
    height: 100%;
}

.about .container{
    height: 100%;
}

.who img{
    width: 500px;
}

.who p{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wr{
    font-family: 'Poppins', sans-serif;
    font-size: 38px !important;
    font-weight:600;   
}

#About p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* Productos */

#prod{
    height: 100%;
    margin: 20px 0;
    background: linear-gradient(90deg,#ffffff, #ffffff 25%,#e2e5e7);

}

#prod .container .row{
    justify-items: center;
    text-align: center;
    align-items: center;
}

#prod .card{
    object-fit: cover;
    justify-self: center;
    margin: auto;
    border-radius: 30px;
    background: none;
}

#prod .card:hover{
    background: #eff7fd;

}

#prod span{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* Contacto */

#contacto{
    height: 100%;  
}

#contacto img{
    width: 400px;
    border-radius: 30px;
    margin-top: 30px;
    object-fit: cover;
    box-sizing: content-box;
}

#contacto i{
    margin-top: 30px;
    font-size: 20px;
}

#contacto .container{
    height: 100%;
}

#contacto span{
    font-size: 20px;
}

/* footer */
#footer {
    background: black;
  }
  
  #footer a {
    color: white;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }
  

/* Media Querys */

@media screen and (max-width: 1024px){
    #cent{
        font-size: 22px;
    }

    .quote .container{
        height: 60vh;
        background-color: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
    }

    .about{
        height: 100%;
    }

    .who img{
        width: 350px;
    }

    #contacto img{
        width: 320px;
    }

    #contacto{
        height: 100%;
    }
}

@media screen and (max-width: 812px){
    .who img{
        width: 305px;
    }
}


@media screen and (max-width: 767px){
    h2{
        font-size: 60px!important;
    }

    #desc1{
        font-size: 15px !important;
        margin-bottom: 15px;
    }

    #cent{
        font-size: 15px;
    }

    .quote .container{
        height: 50vh;
        background-color: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
    }

    .about{
        height: 100%;
        margin-bottom: 20px;
    }

    .who img{
        width: 290px;
    }

    #contacto i{
        font-size: 16px;
    }

    #contacto img{
        width: 280px;
    }

    #About #wr{
        font-size: 32px !important;
        margin-bottom: 20px !important;
    }

    #prod #wr{
        font-size: 32px !important;
        margin-bottom: 20px !important;
    }

    #contacto #wr{
        font-size: 32px !important;
        margin-bottom: 20px !important;
    }
    #contacto span{
        font-size: 18px;
    }
}


@media screen and (max-width: 320px){
    .who img{
        width: 250px;
    }

    #contacto i{
        font-size: 13.5px;
    }

    #contacto img{
        width: 240px;
    }
    
    #contacto span{
        font-size: 15px;
    }
}
